body {
  background: white;
  color: black;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  text-align: center;
}

.header {
  background-color: white;
  border: 3px solid #CCCCCC;
  box-shadow: 1px 0px 0 3px #CCCCCC;
  color: #4281C8;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25pt;
  font-weight: bold;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 18pt; /* Adjust as needed to prevent wrapping */
  }
}

.main {
  margin-top: 70px; /* offset for fixed header */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.btn {
  background-color: #D2FFFF;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 5px #999;
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn:hover {
  background-color: #80FFFF;
}

.btn:active {
  background-color: #80FFFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}